@{
    ViewData["Title"] = "Home Page";
}

<div id="first-page" class="text-center">
    <h1 class="display-4">Welcome @*to BA front page*@</h1>
    <h2>This line is not important</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
